@import (reference) '~antd/es/style/themes/default.less';

.treepanel-detail-panel {
  display: flex;
  flex-direction: column;
}

.treepanel-detail-header {
  font-size: 15px;
  font-weight: bold;
}

.treepanel-detail-line {
  width: 4px;
  height: 16px;
  background-color: red;
  margin-right: 10px;
}

.treepanel-detail-itemBox {
  display: flex;
  flex-direction: row;
}

.treepanel-detail-cards {
  width: 100%;
}

.treepanel-detail-item {
  height: 30px;
  padding: 0 4px;
  border: 1px solid gray;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
  font-size: 8px;
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.treepanel-detail-search {
  margin-bottom: 18px;
}

.treepanel-detail-itemDetail {
  display: grid;
  grid-row-gap: 6px;
  grid-column-gap: 6px;
  grid-template-columns: repeat(3, 1fr);
}
