@import (reference) '~antd/es/style/themes/default.less';

.treepanel-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding: 0 15px;
  box-sizing: border-box;

  .ant-collapse {
    background-color: white !important;
    border: none !important;

  }

  .treepanel-tree {
    height: 100%;
    background-image: linear-gradient(#fff 50%, #f7f9fb 50%);
    background-size: 100% 60px;

    .treeFolder:global(.@{ant-prefix}-tree-treenode) {
      align-items: center;
      height: 30px;
      padding: 0;
      font-size: 12px;
      line-height: 30px;

      &::before {
        height: 30px;
      }

      :global {
        .@{ant-prefix}-tree-iconEle.@{ant-prefix}-tree-icon__customize {
          width: auto;
          margin-right: 8px;
          color: rgba(0, 0, 0, 0.45);
        }

        .@{ant-prefix}-tree-node-content-wrapper {
          display: flex;
          align-items: center;
          padding-left: 0;

          .@{ant-prefix}-tree-title {
            flex-grow: 1;
          }
        }
      }
    }

    .treeNode:global(.@{ant-prefix}-tree-treenode) {
      height: 30px;
      line-height: 30px;

      &::before {
        height: 30px;
      }

      :global {
        .@{ant-prefix}-tree-node-content-wrapper {
          padding: 0;
        }

        .@{ant-prefix}-tree-iconEle.@{ant-prefix}-tree-icon__customize {
          display: none;
        }

        .@{ant-prefix}-tree-switcher {
          display: none;
        }
      }
    }
  }

  .treepanel-panel {
    display: flex;
    flex-direction: column;
  }


  .ant-collapse-content-box {
    display: flex;
    flex-direction: column;
    // border-bottom: 1px solid #f0f0f0;
    // justify-content: space-around;
  }

  .ant-collapse-header {
    border-bottom: 1px solid #f0f0f0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .ant-collapse-item {
    border-bottom: none!important;
  }

  .ant-collapse-content {
    border-top: none !important;
  }

  .treepanel-header {
    font-size: 15px;
    font-weight: bold;

    h1 {
      font-weight: 500 !important;
      color: rgba(0, 0, 0, 0.85) !important;
      font-size: 15px !important;
      line-height: 0px !important;
      margin-bottom: 0px;
    }
  }

  .treepanel-line {
    width: 4px;
    height: 16px;
    margin-right: 10px;
  }

  .search {
    margin-bottom: 18px;
  }

  .card {
    flex: 1;
  }

  .itemDetail {
    display: grid;
    grid-row-gap: 6px;
    grid-column-gap: 6px;
    grid-template-columns: repeat(3, 1fr);
  }

  .item {
    height: 30px;
    padding: 0 4px;
    border: 1px solid gray;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    font-size: 8px;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
